{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}demo - 登录{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>登录</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
    <br>
    <p>
    新用户?
    <a href="{{ url_for('auth.register') }}">
        开始注册
    </a>
    </p>
    <p>
    忘记密码?
    <a href="{{ url_for('auth.reset_password_request') }}">
        重设新密码
    </a>
    </p>
</div>


{% endblock %}