{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} home  {% endblock %}

{% block page_content %}

<div class="page-header">

    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }} {% else %} Stranger{% endif %}</h1>

</div>

<p> 现在本地时间：{{ moment(current_time).format('YYYY-MM-DD hh:MM:ss') }}</p>
<p> {{ moment(current_time).fromNow(refresh=True) }} </p>

{% endblock %}